.dashboard-header {
    text-align: center;
    .clearButton {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
    }
}

.dashboard-main {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;
}  

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-footer  {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
    .calculateButton {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
    }
}
